@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

body {
  width: 375px;
  height: auto;
  margin: 0 auto;
  font-family: Inter;
}

/* .home {
} */
.home .nav-var-and-hero {
  background-image: url(images/backgrounds/hero.svg);
}
.nav-bar {
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;

}
.hamburger {
  width: 31px;
  height: 27px;
}

.home .nav-bar-and-hero .hero {
  padding: 18px 24px;
}
.home .nav-bar-and-hero .hero .hello {}
.home .nav-bar-and-hero .hero .title {}
.home .nav-bar-and-hero .hero .description {}
.home .nav-bar-and-hero .hero .date {}
.home .nav-bar-and-hero .hero .national {}
.home .main {
  padding: 18px 24px;
}
.home .main .text {}
.horizontal-rule {}
.home .main .big {}
.home .main .elements {}
.home .main .element {}
.home .main .element .icon {}
.home .main .element .title {}
.home .main .element .description {}
.home .main .join {}
.home .speakers {
  padding: 18px 24px;
}
.home .speakers .title {}
.home .speakers .speakers .horizontal-rule {}
.home .speakers .speaker {}
.home .speakers .speaker .photo {}
.home .speakers .speaker .resume {}
.home .speakers .speaker .name {}
.home .speakers .speaker .title {}
.home .speakers .speaker .description {}
.home .speakers .more {}
.home .speakers .more .text {}
.home .speakers .more .down-arrow {}
/* /////////////////////////////////////////// */
/*                SECOND PAGE                  */
/* /////////////////////////////////////////// */
.about {
}
.about .hero {
}
.about .hero .hello {
  padding: 18px 24px;
}
.about .hero .title {  
  padding: 18px 24px;
}
.about .hero .description {
  padding: 18px 24px;
}
.about .hero .please {  
  padding: 18px 24px;
}
.about .creative {
  padding: 18px 24px;
}
.about .creative .title {
  padding: 18px 24px;
}
.about .creative .horizontal-rule {}
.about .creative .text {
  padding: 18px 24px;
}
.about .creative .cc {
  padding: 18px 24px;
}

.about .past {
  padding: 18px 24px;
}
.about .past .title {}
.about .past .horizontal-rule {}
.about .past .description {}
.about .past .past-one {}
.about .past .past-one .year {}
.about .past .past-one .text {}
.about .past .past-two {}
.about .past .past-two .text {}
.about .past .past-two .year {}
.about .partner {
  padding: 18px 24px;
}
.about .partner .title {}
.about .partner .partners {} 
.about .cc {
  padding: 18px 24px;
}
.about .cc .left {}
.about .cc .right {}